* {
  /* remove the top margin (x axis ) */
  margin: 0; 
}
body{
  background-color: whitesmoke;
}
.app_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.app_stats{
  display: flex;
  justify-content: space-between ; 
}
.app_left {
  /* utilize the 90% of width */
  flex: 0.9; 
}
.App{
  display: flex;
  justify-content: space-evenly;
}
/* MAKING RESPONSIVE  WHILE SCREEN SIZE CHANGES */
@media (max-width : 990px){
  .App{
    flex-direction: column;
  }
}